<h1>Seattle Grace Hospital</h1>
<h2>Patient Index</h2>

<ul>
  <% @patients.each do |patient| %>
    <li>
      Name: <%= link_to patient.name, patient_path(patient) %>
      Number of Appointments: <%= patient.appointments.count %>
    </li>
  <% end %>
</ul>
