<h1><%= @patient.name %></h1>

<h2>Appointments:</h2>

<% @patient.appointments.each do |apt| %>
  <p>Doctor: <%= link_to apt.doctor.name, doctor_path(apt.doctor) %> | Time: <%= apt.appointment_datetime.strftime("%B %d, %Y") %> at <%= apt.appointment_datetime.strftime("%R") %></p>
<% end %>
