<h3>Patient: <%= @patient.name %></h3>

<h3>Appointments:</h3>
<% @patient.appointments.each do |appointment| %>
  <ul>
    <li>Doctor: <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %> | Date: <%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %></li>
  </ul>
<% end  %>
