<h1><%= @doctor.name %></h1>

<h2>Appointments:</h2>

<% @doctor.appointments.each do |apt| %>
  <p>Patient: <%= link_to apt.patient.name, patient_path(apt.patient) %> | Time: <%= apt.appointment_datetime.strftime("%B %d, %Y") %> at <%= apt.appointment_datetime.strftime("%R") %></p>
<% end %>
