

<h1><%= link_to  @appt.doctor.name, doctor_path(@appt.doctor) %></h1>
<h1><%= link_to  @appt.patient.name, patient_path(@appt.patient) %></h1>
<%= @appt.appointment_datetime.strftime("%d-%m-%Y %I:%M:%S %p") %>
