<p><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor)%></p>
<p><%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></p>

<p><%= prettify(@appointment.appointment_datetime) %></p>
