<h1>Appointment</h1>

<h3>Dr: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h3>
<h3>Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></h3>
<h4>Time: <%= @appointment.appointment_datetime.time %></h4>
<h4>Date: <%= @appointment.appointment_datetime %></h4>
